In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import os
print(os.getcwd())  # Esto imprime el directorio actual

c:\Users\rey_d\Documents\GitHub\An-lisis-de-inversion-inmobiliario\notebooks

In [3]:
import os

# Cambiar el directorio de trabajo al nivel superior
os.chdir('..')

# Verificar dónde estás ahora
print("Directorio actual:", os.getcwd())

Directorio actual: c:\Users\rey_d\Documents\GitHub\An-lisis-de-inversion-inmobiliario

In [4]:
df = pd.read_csv(r'data\valencia_vivienda_limpiocopy.csv', sep=';')

In [5]:
#añadimos columna city
df['city'] = 'Valencia'

In [6]:
df.head()

         neighbourhood  precio      city
0              RUSSAFA  3900.0  Valencia
1  CABANYAL-CANYAMELAR  2100.0  Valencia
2              EL GRAU  2300.0  Valencia
3          ARRANCAPINS  3100.0  Valencia
4        SANT FRANCESC  3900.0  Valencia

In [7]:
df.columns

Index(['neighbourhood', 'precio', 'city'], dtype='object')

In [8]:
# lo primero que podemos comprobar es el tipo de dato de cada columna
df.dtypes

neighbourhood     object
precio           float64
city              object
dtype: object

In [9]:
#Convertir la columna a tipo numérico Valencia

# 1. Asegúrate de que es string (por si hay números ya)
df['precio'] = df['precio'].astype(str)

# 2. Elimina los puntos de miles y reemplaza la coma decimal por punto
df['precio'] = df['precio'].str.replace('.', '', regex=False)  # quita miles
df['precio'] = df['precio'].str.replace(',', '.', regex=False)  # cambia decimal

# 3. Convierte a número
df['precio'] = pd.to_numeric(df['precio'], errors='coerce')
# 4. Redondea a 2 decimales
df['precio'] = df['precio'].round(2)

In [10]:
df.duplicated().sum()  # Comprobamos si hay filas duplicadas

np.int64(0)

In [11]:
df.isnull().sum()  # Comprobamos si hay valores nulos en cada columna

neighbourhood    0
precio           0
city             0
dtype: int64

In [12]:
df.isnull().sum() / 100  # Porcentaje de valores nulos en cada columna

neighbourhood    0.0
precio           0.0
city             0.0
dtype: float64

In [13]:
df.isnull().sum()  # Comprobamos si hay valores nulos en cada columna

neighbourhood    0
precio           0
city             0
dtype: int64

In [14]:
df.head()

         neighbourhood  precio      city
0              RUSSAFA   39000  Valencia
1  CABANYAL-CANYAMELAR   21000  Valencia
2              EL GRAU   23000  Valencia
3          ARRANCAPINS   31000  Valencia
4        SANT FRANCESC   39000  Valencia

In [15]:
df_limpio_valencia_vivienda = df.copy()

In [16]:
#guardamos
df_limpio_valencia_vivienda.to_csv(r"data\valencia_vivienda_limpio.csv", index=False)